# .easignore
# This file is used by EAS Build instead of .gitignore if it exists.
# We want to include google-services.json so EAS can build the app,
# even though it's ignored in .gitignore for security.

node_modules/
ios/
android/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
# google-services.json and GoogleService-Info.plist (Both included so EAS can see them)
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
